* {
    margin: 0;
    padding: 0;
    outline: 0;
}

/* Nav */

nav {
    background-color: #29374a;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    height: 65px;
    display: flex;
    position: fixed; 
}

img.icone {
    margin: 22px 10px;
}

img.logo {
    width: 75px;
    height: 22px;
    margin: 20px;
}

div#profile-pic {
    width: 40px;
    height: 40px;
    background-color: #fff;
    margin: 12px;
    border-radius: 50px;
}

ul.nav-list {
    list-style-type: none;
    display: flex;
}

ul.nav-list li {
    padding: 22px 10px;
}

span.v {
    padding: 20px 2px;
    margin-right: 20px;
    font-weight: normal;
}

div#nav-side {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

a.link-nav {
    text-decoration: none;
    color: #c1c7cd;
    display: flex;
    transition: 0.2s all;
}

a.link-nav:hover {
    background-color: #293b51;
}

/* Main */

main {
    display: flex;
}

div#stream-info {
    background-color: #141b28;
    color: #dfe1e3;
    width: 75%;
}

div#player {
    height: 83vh;
}

/* Stream Info */

div#info {
    background-color: #212c3d;
    width: 99.5%;
}

div#stream-bar {
    background-color: #3F4B5C;
    height: 8vh;
    display: flex;
}

div#stream-name {
    width: 82%;
    display: flex;
}

div#skills {
    margin-left: 0.2%;
    width: 17.8%;
    display: flex;
}

div#skills img {
    margin: auto 3px auto auto;
}

p.skill {
    margin: auto auto auto 3px;
    font-family: arial;
}

div#skills:hover {
    background-color: #3F4B5C;
    cursor: pointer;
}

div#stream-name, div#skills {
    background-color: #29374a;
}

img.web-pic {
    width: 7%;
    cursor: pointer;
}

div#stream-title {
    font-family: 'Segoe UI', sans-serif;
    margin: auto 10px;
}

h1 {
    font-size: 18px;
    font-weight: normal;
}

p.category {
    color: #808693;
    font-size: 14px;
}

.category span {
    color: #B7494F;
}

/* Streamer INFO */

div#streamer {
    display: flex;
}

div#streamer-info {
    display: flex;
    margin: auto 0;
    width: 50%;
}

p.streamer-name {
    font-family: 'Segoe UI', sans-serif;
    font-size: 22px;
    margin: auto 0;
    color: #fff;
}

img.icone2 {
    border: 1px solid;
    margin: 22px 10px 22px 0px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

img.icone2:hover {
    background-color: #323D4C;
}

div#partnership {
    width: 15px;
    height: 15px;
    margin: 28px 8px auto;
    background-color: #278BAF;
    transition: 0.4s all;
    border-radius: 8px;
}

div#partnership:hover {
    width: 100px;
}

div#streamer-conf {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-right: 5px;
}

div#sparks {
    height: 35px;
    width: 130px;
    background: linear-gradient(90deg, rgba(215,30,129,1) 0%, rgba(131,2,6,1) 100%);
    cursor: pointer;
    border-radius: 3px;
    margin: auto 0;
}

div#sparks:hover {
    background: linear-gradient(90deg, rgba(218,63,143,1) 0%, rgba(148,38,41,1) 100%);
}

p.spark-counter, p.bt, p.followers {
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

div#follow {
    display: flex;
    height: 35px;
    width: 200px;
    margin: auto 20px auto 10px;
    cursor: pointer;
}

div#follow-bt {
    width: 65%;
    background-color: #0270D9;
    border-radius: 3px 0 0 3px;
}

div#follow-counter {
    width: 35%;
    background-color: #035BAF;
    border-radius: 0 3px 3px 0;
}

/* Options */

div#options {
    display: flex;
    list-style-type: none;
}

div#opt {
    margin: 0 20px;
    height: 40px;
    font-family: 'Arial';
    font-size: 18px;
    transition: 0.2s all;
    padding: 20px 5px 0 ;
    cursor: pointer
}

div#opt:hover {
    background-color: #424B5A;
}

div#options-bar {
    display: flex;
}

div#bar-opt1, div#bar-opt2, div#bar-opt3 {
    height: 2px;
    background-color: #278BAF
}

div#bar-opt1 {
    width: 109px;
    margin-left: 20px;
}

div#bar-opt2 {
    width: 187px;
    margin-left: 40px;
    visibility: hidden;
}

div#bar-opt3 {
    width: 112px;
    margin-left: 40px;
    visibility: hidden;
}

/* Description */

div#content-info {
    display: flex;
    /* visibility: hidden; */
}

div#streaming-info {
    width: 30%;
}

div#streamer-description {
    width: 70%;
}

div#block {
    background-color: #1E2837;
    margin: 20px 10px 5px 10px;
    padding: 20px;
    border-radius: 5px;
}

div#block p {
    margin: 5px 0;
}

p.block-title, p.block-item, p.block-text {
    font-size: 15px;
}

p.block-title2 {
    font-size: 18px;
}

p.block-title3 {
    color: #fff;
    font-size: 20px;
}

p.block-title, p.block-title2, p.block-title3 {
    font-weight: bold;
}

p.block-title, p.block-item, p.block-title2 {
    color: #959AA5;
}

p.block-title, p.block-title2, p.block-title3, p.other {
    font-family: 'Arial';
}

p.block-item, p.block-text {
    font-family: 'Segoe UI', sans-serif;
}

p.block-text {
    font-family: 'Arial';
    font-size: 15px;
}

span.blue {
    color: #1EB8EB;
}

span.pink {
    color: #CE6DED;
}

/* Mini-videos */

div#video, div#video2 {
    margin: 20px 0;
    cursor: pointer;
    border-radius: 8px;
}

div#video:hover, div#video2:hover {
    border: 3px solid #1EB8EB;
}

div#thumb, div#thumb2, div#desc, div#desc2 {
    width: 100%;
}

div#thumb, div#thumb2 {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

div#thumb {
    height: 120px;
}

div#desc, div#desc2 {
    background-color: #2C374B;
    border-radius: 0 0 5px 5px;
}

div#desc {
    height: 70px;
}

p.video-title p.video-data {
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
}

p.video-title {
    font-weight: bold;
    padding: 5px;
}

p.video-data {
    color: #848A96;
    padding: 10px 10px 10px 5px;
}

p.other {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    transition: 0.2s all;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: right;
}

p.other:hover {
    background-color: #303947;
}

/* Transmissions */

div#transmissions, div#clips {
    display: flex;
    flex-wrap: wrap;
    /* visibility: hidden; */
}

div#video2 {
    width: 30%;
    margin: 15px;
}

div#thumb2 {
    height: 170px;
}

div#desc2 {
    height: 70px;
}

p.video-title2 {
    font-weight: bold;
    padding: 5px 0 0 5px;
}

p.video-data2 {
    color: #848A96;
    padding: 2px 0 0 5px;
}

p.timer {
    background-color: #000;
    filter: opacity(50);
    float: right;
    padding: 4px;
    margin: 130px 10px 10px 0;
    border-radius: 3px;
}

/* Chat */

aside {
    background-color: #212c3d;
    color: #dfe1e3;
    width: 25%;
    height: 100vh;
    position: fixed;
    margin-left: 75%;
    margin-top: 65px;
}

div#bar-border {
    width: 100%;
    height: 2px;
    background-color: #394453;
}

div#chat-tag {
    display: flex;
}

div#chat {
    width: 50%;
}

p.chat-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #9198a2;
    cursor: pointer;
    transition: 0.3s all;
}

p.chat-title:hover {
    background-color: #424B5A;
}

div#chat-bar-div {
    display: flex;
}

div#chat-bar {
    background-color: #4C5665;
    height: 3px;
    width: 100%;
    cursor: pointer;
}


div#chat-bar:hover {
    background-color: #0075d5;
}

input.chat-entry {
    width: 80%;
    height: 45px;
    margin: 72vh 1.5%;
    border-radius: 50px;
    border: none;
    background-color: #141b28;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    padding-left: 15%;
}