* {
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    width: 50%;
    margin-left: 25%;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}

h2 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

hr {
    margin-top: -10px;
}

main {
    display: flex;
}

div#newspaper {
    width: 55%;
}

div#page1 {
    display: flex;
    width: 100%;
}

div#part1 {
    width: 45%;
}

div#part2 {
    margin-left: 10%;
    width: 45%;
}

div#bar {
    width: 150px;
    background-color: #5399CF;
    height: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

aside {
    width: 40%;
    margin-left: 5%;
}

span.by, span.author {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 18px;
}

span.by {
    font-weight: bold;
}

span.p {
    font-size: 150px;
    float: left;
    font-weight: bold;
}

span.day {
    font-size: 25px;
}

p.title1 {
    font-family: 'Grenze Gotisch', cursive;
}

p {
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    margin: 0 0 10px;
}

p.title2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

p.credit {
    color: gray;
    font-family: 'PT Serif', serif;
}