* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
}

h1 {
    margin: 0 0 10px;
}

p {
    margin: 5px 0;
}

h1, p {
    cursor: default;
}

img.ch2 {
    width: 400px;
    margin: 20px;
}

img.ch5 {
    padding: 5px 0 0 0;
    filter: contrast(0);
}

fieldset.borda1 {
    width: 50%;
    margin: 30px auto;
    background-color: white;
    transition: 0.1s all;
    border-radius: 5px;
}

fieldset.borda1:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    filter: grayscale(100%);
}

footer {
    margin-top: 5%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s color;
}

a:hover {
    color: orange;
}

ul {
    list-style-type: armenian;
    list-style-position: inside;
}

ul.contato {
    list-style-type: none;
}

p.tag-title:hover {
    background-color: #39C65D;
    font-weight: bold;
    color: #000;
    border-radius: 3px;
    margin: 5px auto;
}

@media screen and (max-width: 550px) {
    img.ch2 {
        width: 200px;
    }
}