* {
    margin: 0;
    padding: 0;
    outline: 0;
}

/* Nav */

nav {
    background-color: #29374a;
    height: 65px;
    display: flex;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 15px;
    position: fixed;
    width: 100%;
}

img.icone {
    width: 20px;
    height: 20px;
    margin: 22px 10px;
}

img.logo {
    width: 75px;
    height: 22px;
    margin: 20px;
}

div#profile-pic {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 12px;
    border-radius: 50px;
}

ul.nav-list {
    list-style-type: none;
    display: flex;
}

ul.nav-list li {
    padding: 22px 10px;
}

span.v {
    padding: 20px 2px;
    margin-right: 20px;
    font-weight: normal;
}

div#nav-side {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

a.link-nav {
    text-decoration: none;
    color: #c1c7cd;
    display: flex;
    transition: 0.2s all;
}

a.link-nav:hover {
    background-color: #293b51;
}

/* Main */

main {
    display: flex;
}

div#stream-info {
    background-color: #141b28;
    color: #dfe1e3;
    width: 75%;
    height: 100vh;
}

div#player {
    height: 83vh;
}

div#info {
    background-color: #212c3d;
    height: 17vh;
    width: 99.5%;
}

div#stream-bar {
    background-color: #3F4B5C;
    height: 8vh;
    display: flex;
}

div#stream-name {
    width: 82%;
    display: flex;
}

div#skills {
    margin-left: 0.2%;
    width: 17.8%;
    display: flex;
}

div#skills img {
    margin: auto 3px auto auto;
}

p.skill {
    margin: auto auto auto 3px;
    font-family: arial;
}

div#skills:hover {
    background-color: #3F4B5C;
    cursor: pointer;
}

div#stream-name, div#skills {
    background-color: #29374a;
}

img.web-pic {
    width: 7%;
    cursor: pointer;
}

/* Chat */

aside {
    background-color: #212c3d;
    color: #dfe1e3;
    width: 25%;
    height: 100vh;
}